In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import statsmodels as sm

In [9]:
dataset = pd.read_csv('/Users/ikubannipaul/Downloads/datas/monkeypox.csv')

In [3]:
dataset.head()

,location,date,iso_code,total_cases,total_deaths,new_cases,new_deaths,new_cases_smoothed,new_deaths_smoothed,new_cases_per_million,total_cases_per_million,new_cases_smoothed_per_million,new_deaths_per_million,total_deaths_per_million,new_deaths_smoothed_per_million
0,Africa,2022-05-01,NaN,42.0,2.0,2.0,0.0,0.29,0.0,0.001,0.03,0.0,0.0,0.00141,0.0
1,Africa,2022-05-02,NaN,42.0,2.0,0.0,0.0,0.29,0.0,0.000,0.03,0.0,0.0,0.00141,0.0
2,Africa,2022-05-03,NaN,42.0,2.0,0.0,0.0,0.29,0.0,0.000,0.03,0.0,0.0,0.00141,0.0
3,Africa,2022-05-04,NaN,42.0,2.0,0.0,0.0,0.29,0.0,0.000,0.03,0.0,0.0,0.00141,0.0
4,Africa,2022-05-05,NaN,42.0,2.0,0.0,0.0,0.29,0.0,0.000,0.03,0.0,0.0,0.00141,0.0

In [14]:
# dataset.loc[dataset['location'] == 'Africa', 'iso_code'] = 'AFR'
# dataset.head()

dataset['iso_code'] = dataset['iso_code'].fillna(dataset['location'].str[:3].str.upper())
dataset.head()

,location,date,iso_code,total_cases,total_deaths,new_cases,new_deaths,new_cases_smoothed,new_deaths_smoothed,new_cases_per_million,total_cases_per_million,new_cases_smoothed_per_million,new_deaths_per_million,total_deaths_per_million,new_deaths_smoothed_per_million
0,Africa,2022-05-01,AFR,42.0,2.0,2.0,0.0,0.29,0.0,0.001,0.03,0.0,0.0,0.00141,0.0
1,Africa,2022-05-02,AFR,42.0,2.0,0.0,0.0,0.29,0.0,0.000,0.03,0.0,0.0,0.00141,0.0
2,Africa,2022-05-03,AFR,42.0,2.0,0.0,0.0,0.29,0.0,0.000,0.03,0.0,0.0,0.00141,0.0
3,Africa,2022-05-04,AFR,42.0,2.0,0.0,0.0,0.29,0.0,0.000,0.03,0.0,0.0,0.00141,0.0
4,Africa,2022-05-05,AFR,42.0,2.0,0.0,0.0,0.29,0.0,0.000,0.03,0.0,0.0,0.00141,0.0

In [22]:
dataset['location'].value_counts()

location
Central African Republic    823
Africa                      820
Nigeria                     820
Ghana                       820
World                       820
                           ...
Laos                          1
Kenya                         1
Iran                          1
Guam                          1
Jordan                        1
Name: count, Length: 127, dtype: int64

In [25]:
dataset['total_cases'].isnull().sum()

12

In [19]:
dataset[dataset['new_cases'].isnull()]

,location,date,iso_code,total_cases,total_deaths,new_cases,new_deaths,new_cases_smoothed,new_deaths_smoothed,new_cases_per_million,total_cases_per_million,new_cases_smoothed_per_million,new_deaths_per_million,total_deaths_per_million,new_deaths_smoothed_per_million
12077,Burundi,2024-08-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12078,Burundi,2024-08-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12079,Burundi,2024-08-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12966,Cameroon,2024-07-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14581,Central African Republic,2024-08-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14582,Central African Republic,2024-08-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14583,Central African Republic,2024-08-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17637,Congo,2024-08-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22668,Democratic Republic of Congo,2024-07-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22669,Democratic Republic of Congo,2024-08-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22670,Democratic Republic of Congo,2024-08-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22671,Democratic Republic of Congo,2024-08-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN